#nav{
    color: white;
}

#navbar2 {
    background-color: #646060;
    margin-top: 56px;
}

#nav2{
    color: white;
}

.nav-item {
	color: white;
}

#numeros {
	float: left;
    margin: 5px 20px 5px 0;
	width: 40px
}

/*.texte-illustration {
    overflow: hidden;
}*/

.texte-illustration .flotteg {
    float: left;
    margin: 5px 20px 5px 0;
	width: 50%;
}

.texte-illustration .flotted {
    float: right;
    margin: 5px 0 5px 20px;
	width: 50%;
}

.texte-icone {
    overflow: hidden;
}

.texte-icone .flotteg {
    float: left;
    margin: 5px 20px 5px 0;
	width: 50%;
}

.contenu 
{
 background-color:#FFFFFF;
 border:1px solid #999999;
 cursor:default;
 display:none;
 margin-top: 15px;
 position:absolute;
 text-align:left;
 width:400px;
 z-index:50;
 padding: 25px 25px 20px;
}
a.selected {
 background-color:#1F75CC;
 color:white;
 z-index:100;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #999;
    color: #fff;
	text-align: center;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 120px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 0 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 110px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



.anchor {
    margin-top: -110px; 
    margin-bottom: 130px;
}

body {
    padding-top: 105px;
}


.container{
    margin-top: 30px;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
}
.card{
    margin-top: 15px;
    margin-bottom:10px;
}

video {
    width: 70%;
}

#trace {
    width: 100%;
    height: 100px;
    font-size: 11px;
    overflow-y: scroll;
}

#trace2 {
    width: 100%;
    height: 100px;
    font-size: 10px;
    overflow-y: scroll;

}

fieldset {
    width: 100%;
}

fieldset>div {
    margin: 1%;
}

.description {
    font-size: 0.9em;
    color: #888888;
}

#colonne2 {
    float: left;
    width: 45%;
    border: 1px solid black;
    margin: 2%;
}

#colonne3 {
    float: right;
    width: 45%;
    border: 1px solid black;
    margin: 2%;
}

code {
    padding: 1%;
    display:block;
    background-color: #EFEFEF;
    color: black;
    width: 100%;
}